<app-header></app-header>
<app-loading *ngIf="_loading"></app-loading>

<div>
  <ul class="collection">
    <li class="collection-item">Deuda Total <b>${{total}}</b></li>
    <li class="collection-item">Pago Minimo <b>${{quincena_total}}</b></li>
  </ul>
</div>

<div class="row">
  
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6" (click)="setQ('1')"><a [ngClass]="{'active': getQ()}"><b>Quincena1 (1-14)</b></a></li>
      <li class="tab col s6" (click)="setQ('2')"><a [ngClass]="{'active': !getQ()}"><b>Quincena2 (15-30)</b></a></li>
    </ul>
  </div>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Pendientes {{quincena_pendientes}}</h4>
    </li>
    <ng-container *ngFor="let item of quincena; let i=index">
      <li *ngIf="item.pagado === 'no'" class="collection-item avatar"
        [ngStyle]="{'background-color': getColor(item.pagado)}" (click)="changeStatus(item)">
        <i class="material-icons circle" [ngClass]="{'blue': true}">attach_money</i>
        <span class="title">{{item.nombre}}</span>
        <p>Pago Minimo <b> ${{item.pagoMinimo}}</b></p>
        <p>Dia limite de pago es el {{item.diaLimite}}</p>
        <!--<b class="secondary-content" [ngStyle]="{'color': item.pagado === 'no' ? 'white':'black'}">TOTAL ${{item.deuda}}</b>-->
        <a [routerLink]="[ '/debtsDetails', { params: item | json } ]" class="secondary-content"><i
            class="material-icons">send</i></a>
      </li>
    </ng-container>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Pagados</h4>
    </li>
    <ng-container *ngFor="let item of quincena; let i=index">
      <li *ngIf="item.pagado === 'si'" class="collection-item avatar"
        [ngStyle]="{'background-color': getColor(item.pagado)}" (click)="changeStatus(item)">
        <i class="material-icons circle" [ngClass]="{'blue': true}">attach_money</i>
        <span class="title">{{item.nombre}}</span>
        <p>Pago Minimo <b> ${{item.pagoMinimo}}</b></p>
        <p>Dia limite de pago es el {{item.diaLimite}}</p>
        <!--<b class="secondary-content" [ngStyle]="{'color': item.pagado === 'no' ? 'white':'black'}">TOTAL ${{item.deuda}}</b>-->
        <a [routerLink]="[ '/debtsDetails', { params: item | json } ]" class="secondary-content"><i
            class="material-icons">send</i></a>
      </li>
    </ng-container>
  </ul>

</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons" (click)="addDebt()">add</i>
  </a>
</div>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      Sweet Home ©2019 Copyright
      <a class="grey-text text-lighten-4 right" href="https://github.com/Hangtu/sweet-home-client">Github Sweet-Home</a>
    </div>
  </div>
</footer>

<app-create-debt-modal (saveDebtModal)="saveDebtModal($event)" [modal]="_modal"></app-create-debt-modal>