<app-header></app-header>
<app-loading *ngIf="_loading"></app-loading>


<div class="row">
  <div class="col s12 m6">
    <div class="card-panel teal center-align">
      <h6 class="white-text">Deuda Total ${{total}}
      </h6>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card-panel teal center-align">
      <h6 class="white-text center-align">Pago Minimo ${{quincena_total}}
      </h6>
    </div>
  </div>
</div>
          

<div class="row">

  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6" (click)="setQ('1')"><a [ngClass]="{'active': getQ()}"><b>Quincena1 (1-14)</b></a></li>
      <li class="tab col s6" (click)="setQ('2')"><a [ngClass]="{'active': !getQ()}"><b>Quincena2 (15-30)</b></a></li>
    </ul>
  </div>

  <ul class="collection with-header">
    <li class="collection-header center-align">
      <h4>Pendientes {{quincena_pendientes}}</h4>
    </li>

    <div class="row">
      <ng-container *ngFor="let item of quincena; let i=index">
        <div class="col s12 m3" *ngIf="item.pagado === 'no'">
          <div class="card   teal darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>{{item.nombre}}</b></span>
              <p>Pago Minimo <b> ${{item.pagoMinimo}}</b></p>
              <p>Dia limite de pago es el {{item.diaLimite}}</p>
            </div>
            <div class="card-action teal darken-2">
              <a [routerLink]="[ '/debtsDetails', { params: item | json } ]" class="secondary-content white-text"><i
                  class="material-icons">send</i></a>
              <a class="waves-effect waves-light btn" (click)="changeStatus(item)"><i class="material-icons left">cloud</i>Pagar</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header center-align">
      <h4>Pagados</h4>
    </li>
    <div class="row">
      <ng-container *ngFor="let item of quincena; let i=index">
        <div class="col s12 m3" *ngIf="item.pagado === 'si'">
          <div class="card orange darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>{{item.nombre}}</b></span>
              <p>Pago Minimo <b> ${{item.pagoMinimo}}</b></p>
              <p>Dia limite de pago es el {{item.diaLimite}}</p>
            </div>
            <div class="card-action  orange darken-2">
              <a [routerLink]="[ '/debtsDetails', { params: item | json } ]" class="secondary-content white-text"><i
                  class="material-icons">send</i></a>
              <a class="waves-effect waves-light btn" (click)="changeStatus(item)"><i class="material-icons left">cloud</i>Regresar</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ul>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red pulse">
    <i class="large material-icons" (click)="addDebt()">add</i>
  </a>
</div>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      Sweet Home ©2019 Copyright
      <a class="grey-text text-lighten-4 right" href="https://github.com/Hangtu/sweet-home-client">Github Sweet-Home</a>
    </div>
  </div>
</footer>

<app-create-debt-modal (saveDebtModal)="saveDebtModal($event)" [modal]="_modal"></app-create-debt-modal>