<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input id="debt_name" type="text" class="validate" [(ngModel)]="debt.nombre">
            <label for="debt_name">Deuda</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="quantity" type="number" step="0.01" class="validate" [(ngModel)]="debt.deuda">
            <label for="quantity">Total</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="payment" type="number" step="0.01" class="validate" [(ngModel)]="debt.pago_min">
              <label for="payment">Pago Minimo</label>
            </div>
          </div>
        <div class="row">
            <div class="input-field col s12">
              <input #limit_day  id="limit_day" type="number"  min="1" max="31" class="validate" [(ngModel)]="debt.dia_limite">
              <label for="limit_day">Dia Limite</label>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="save(debt)">Save</a>
      <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
  <!-- Ends Modal Structure -->