<app-header></app-header>
<table class="striped centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let item of items">
      <tr *ngIf="item.key != 'pagado' && item.key != 'tipo'">
        <td>{{item.key}}</td>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" (keyup)="saveDebt($event)"
            (input)="item.value = $event.target.value" value="{{item.value}}">
        </div>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="center-align">
  <button class="waves-effect waves-light btn" (click)="deleteDebt()">Delete</button>
</div>