<app-header></app-header>
<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let item of items">
      <tr *ngIf="item.key != 'pagado' && item.key != 'tipo'">
        <td>{{item.key}}</td>
        <div class="input-field col s6">
          <input type="text" class="validate"
            (input)="item.value = $event.target.value" value="{{item.value}}" [required]="true">
        </div>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="center-align">
  <button class="waves-effect waves-light btn" (click)="deleteDebt()">Delete</button>
  <button class="waves-effect waves-light btn" (click)="saveDebt()" style="margin-left:1%;">Save</button>
</div>